#slide-1.bcg {
	background-image: url("../images/bcg_slide-1.jpg");
	max-width: 100%;
}
#slide-2.bcg {
	background-image: url("../images/bcg_slide-2.jpg");
	max-width: 100%;
}
#slide-3.bcg {
	background-image: url("../images/bcg_slide-3.jpg");
	max-width: 100%;
}
#slide-4.bcg {
	background-image: url("../images/bcg_slide-4.jpg");
	max-width: 100%;
}
#slide-5.bcg {
	background-image: url("../images/bcg_slide-5.jpg");
	max-width: 100%;
}